.App {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 100px;
}

.Page-background {
  background: url("Images/City.jpg");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .Page-background{
    left: 50%;
    margin-left: -512px;
  }
}